@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
html {
    font-family: 'Lato', sans-serif;
}
.red {
    color: #F16D7F;
}

.section{
    background-color: black;
}
.heder-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    max-width: 1140px;
    margin: 0 auto;
}
.header__logo {
    display: flex;
    align-items: flex-end;
    gap: 41px;
}
.header__nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.conteiner{
    background-color: #F1E4E6;
}
.intro_container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 64px;
}
.intro-content {
    align-self: center;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    max-width: 377px;
}


.rectangle{
    fill: #F16D7F;
    width: 12px;
    height: 92px;
    flex-shrink: 0;

}
.section-card{
    /* display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    margin-top: 65px;
    gap: 30px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; */
    /* grid-template-columns: repeat(3,1fr); */
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item {
    width: 100%;
    height: 100%;
}

.item-big{
    
    /* grid-area: 2 /1 / 2 / 6; */
    grid-column: span 3;
    

    
}
.item-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 65px;

}
.text-h3{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-p{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-2{
    
    display: grid;
    justify-content: center;
   
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.text-card{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.feature-button-wrapper {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1439px){
    .heder-center{
        
        max-width: 100%;
        margin: 0 16px;
    }
    .cartun{
        max-width: 100%;
        margin: 0 32px;
        
    }
    .card-2 {
        max-width: 736px;
        grid-template-columns: repeat(2, 1fr);
    }
   
}
@media screen and (max-width: 767px){
    .header-center {
        margin: 0 16px;
    }
    .hide-mobile {
        visibility: hidden;
        display: none;
        
    }
    .intro_container {
        height: 363px;
        display: flex;
        align-items: center;        
    }
    .intro-content__title {
        font-size: 38px;
    }
    .intro-content__sub-title {
        font-size: 20px;
    }
    .section-card {
        /* display: grid; */
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 20px;
    }
    .item-big {
        grid-column: auto;
        height: 111px;
    }
    .intro_container{
        display: flex;
        flex-direction: row;
        
    }
    .card-2 {
        grid-template-columns: 1fr;
    }
   
}