.section{
    /* max-width: 1140px; */
    margin-left: auto;
    margin-right: auto;
}

.center{
    display: flex;
    justify-content: space-between;
}



.section-header{
    background-color: black;
}
.section-items{
    background-color: #F1E4E6;
    
    
}
.cartun{
    display: flex;
    
    gap: 64px;

}
.image-hed{
    display: flex;
    align-items: start;
}
.text-centr{
    display: flex;
    align-items: center;
    
}

