@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
html {
    font-family: 'Lato', sans-serif;
}
.red {
    color: #F16D7F;
}
.blek{
    color: #222;

}

.section{
    background-color: #222222;
}
.heder-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    max-width: 1140px;
    margin: 0 auto;
}
.header__logo {
    display: flex;
    align-items: flex-end;
    gap: 41px;
}
.header__nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.conteiner{
    background-color: #F1E4E6;
}
.intro_container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 64px;
}
.intro-content {
    align-self: center;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    max-width: 377px;
}
.intro-content__title {
    
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.intro-content__sub-title{
    
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.rectangle{
    fill: #F16D7F;
    width: 12px;
    height: 92px;
    flex-shrink: 0;

}
.section-card{
    /* display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    margin-top: 65px;
    gap: 30px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; */
    /* grid-template-columns: repeat(3,1fr); */
    margin-top: 65px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;
    max-width: 1140px;
    margin: 65px auto 0;
}
.item {
    width: 100%;
    height: 100%;
}

.item-big{
    
    /* grid-area: 2 /1 / 2 / 6; */
    grid-column: span 3;
    

    
}
.item-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 65px;

}
.text-h3{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-h4{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}
.text-p{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.praice{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 52.311px;
    height: 18.947px;
    flex-shrink: 0;
}
.section-card-2{
    
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1140px;
    margin: 65px auto 0;
}

.card-2{
    
    display: grid;
    justify-content: center;
   
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.text-card{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
/* .offer center{
    max-width: 1140px;
} */
.offer {
    margin-top: 65px;
    display: grid;
    /* max-width: 1140px; */
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;
}
.offer-center{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1140px;
    justify-content: center;
    gap: 30px;

}

.offer__card {
    position: relative;
}
.offer-card__image {
    width: 100%;
    height: 100%;
}
.offer-card__text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);
    
}
.offer__card-bg {
    background: rgba(33, 22, 22, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-big {
    grid-column: span 3;
}
.feature-button-wrapper {
    display: flex;
    justify-content: center;
}
.feature-card__content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: #F8F8F8;
}
.feature-card__button {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .35s ease;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid white;
    width: fit-content;
    padding: 20px;
    background-color: inherit;
    z-index: 2;
}
.feature-card__image:hover .feature-card__button {
    opacity: 1;
}
.feature-button-wrapper {
    display: flex;
    justify-content: center;
}
.feature__button {
    padding: 15px 39px;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: 1px solid #F26376;
    cursor: pointer;
}
.feature__button:hover {
    background-color: #F16D7F;
    color: #FFF;
}
.delivery {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 341px;
    margin-top: 65px;
    background-color: #222224;
    align-items: center;
    ;
}

.delivery__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 134px;
    gap: 30px;
}

.delivery-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 360px;
    height: 134px;
    gap: 16px;
}

.delivery-box-item__header {
    color: #FBFBFB;
    font-family: "Lato";
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.delivery-box-item__text {
    color: #FBFBFB;
    text-align: center;
    font-family: "Lato";
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 448px;
    align-items: center;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 448px;
    width: 1600px;


}

.subscribe-container__image {
    position: absolute;


}

.subscribe-container__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(244, 244, 244, 0.70);
}



.subscribe-container-box {
    position: absolute;
    display: flex;
    justify-content: space-between;

    width: 1148px;
    height: 448px;
    top: 0;
    left: 226px;
    right: 0;
    bottom: 0;

}

.subscribe-container-box__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 97px;
    gap: 30px;
    width: 359.449px;
    height: 225px;

}

.subscribe-container-box-left__text {
    color: #222224;
    text-align: center;
    font-family: "Lato";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-container-box__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
    width: 557px;
    height: 142px;
}

.subscribe-container-box-right__title {
    color: #222224;
    text-align: center;
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.subscribe-container-box-right__text {
    color: #222224;
    font-family: "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe-container-box-right__form {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;

}

.subscribe-container-form__input {
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #222224;
    opacity: 0.671;
    background: #E1E1E1;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 22px;
    border: none;

}

.subscribe-container-form__button {

    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor: pointer;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    vertical-align: middle;
    padding-left: 15px;
    border: none;
}

.footer {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222224;

}

.footer-box {
    width: 1140px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box__left-text {
    color: #FBFBFB;
    font-family: "Lato";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-box__right {
    width: 147.664px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-box__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: white;
}

.footer-box__icon-wrapper:hover {
    background-color: #F16D7F;
}

.footer-box__icon-wrapper:hover .footer-box__icon {
    filter: invert(100%);

}




@media screen and (max-width: 1439px){
    .heder-center{
        
        max-width: 100%;
        margin: 0 16px;
    }
    .cartun{
        max-width: 100%;
        margin: 0 32px;
        
    }
    .section-card {
        display: grid;
        grid-template-columns: 2fr;
        gap: 32px;
        padding: 20px;
    }
    .card-2 {
        max-width: 736px;
        grid-template-columns: repeat(2, 1fr);
    }
    .intro-content__title {
        font-size: 44px;
    }
    .delivery {
        width: 100%;
        height: 610px;

    }

    .delivery__box {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 500px;
        gap: 30px;
    }


    .subscribe {
        height: 614px;
    }

    .subscribe-container {
        display: flex;
        justify-content: center;

        height: 614px;
        width: 100%
    }

    .subscribe-container__image {
        height: 693px;
        left: -420px;
        object-fit: cover
    }

    .subscribe-container-box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 614px;
        width: 100%;
        left: 0px;

    }

    .subscribe-container-box__left {
        margin-top: 67px;
    }

    .subscribe-container-box__right {
        margin-top: 48px;
    }



    .footer-box {
        width: 768px;
    }

    .footer-box__left-text {
        padding-left: 32px;
    }

    .footer-box__right {
        padding-right: 24px;
    }

   
}
@media screen and (max-width: 767px){
    .header-center {
        margin: 0 16px;
    }
    .hide-mobile {
        visibility: hidden;
        display: none;
        
    }
    .intro_container {
        height: 363px;
        display: flex;
        align-items: center;        
    }
    .intro-content__title {
        font-size: 38px;
    }
    .intro-content__sub-title {
        font-size: 20px;
    }
    .section-card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 20px;
    }
    .item-big {
        grid-column: auto;
        height: 111px;
    }
    .intro_container{
        display: flex;
        flex-direction: row;
        
    }
    .section-card-2 {
        /* display: grid; */
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 20px;
        justify-content: center;
    }
    .card-2 {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 20px;
    }
    .offer {
        grid-template-columns: 1fr;
    }
    .card-big {
        grid-column: auto;
    }
    .subscribe {

        height: 550px;

    }

    .subscribe-container {
        height: 550px;


    }

    .subscribe-container__image {
        height: 610px;
        left: -420px;

    }

    .subscribe-container-box {
        height: 550px;
        left: 0px;

    }

    .footer {
        height: 143px;
    }

    .footer-box {
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: 143px;
        gap: 40px;
        margin-bottom: 9px;
    }

    .footer-box__left-text {
        padding-left: 0px;
    }

    .footer-box__right {
        padding-right: 0px;
    }

   
}