@font-face{
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
    }
html{
    font-family: 'Gilroy';
}

*{
    margin: 0;
}
.base-container{
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;

}
ul {
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
.menu_item_home{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu_item{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    list-style: none;
    gap: 40px
}
.intro{
    display: flex;
    margin-top: 160px;
    width: 1170px;    
    margin-left: auto;
    margin-right: auto;
}
.intro-title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.intro-text{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.intro-button-start{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    display: inline-block;
    line-height: 50px;
    text-align: center;
    

}
.intro-button-watch{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    display: inline-block;
    line-height: 50px;
    text-align: center;
    

}
.intro-button-wrapper{
    display: flex;
    gap: 20px;
}
.logos{
    margin-top: 243px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.cards{
    margin-top: 50px;
    display: flex;
    gap: 30px;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px 25px;
    
    
}

.card-title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 17px;
}
.card-text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.card-link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 25px;
}

.choise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
}
.item-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.item-text-h1{
    
    color: #000;
    margin-top: 92px;
    font-family: Gilroy-Bold;
    font-size: 45px;
}
.item-text-p1{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;    
}
.item-big-recyangle{
    width: 385px;
    height: 289px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.but-cl{
    /* width: 150px;
    height: 50px; */
    /* flex-shrink: 0;
    font-weight: 400;
    line-height: 150%;
    margin-top: 25px;
    
    border: 50; */
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;    
    border-radius: 50%;
    
    color: #FFF;

    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    
}